body{
    background-color: #F08EFF;
}
#titular{
    background-color:#801C90;
    padding: 2px 50px 2px 20px;
    margin: -10px -10px 0px -10px;
}
#titular{
    box-shadow: 0px 5px 10px #651B70;
}
#titulo{
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 48px;
    margin: 10px 0px 30px 20px;
}

#main-container{
    background-color: #FBE1FF;
    margin: 30px 100px 30px 100px;
    padding: 25px 105px 20px 105px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px#D4A5DB;
}

.textContent{
    text-align: justify;
    font-size: 18px;
}

.encabezado{
    display: inline-block;
}
#logo{
    padding: 25px 100px 0px 0px;
}

.container{
    background-color: #EFF1B4;
    margin: 15px 25px 15px 25px;
    padding: 0px 20px 10px 20px;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 5px 10px #a7a703;
}
.container:hover{
    background-color:#0F33B3;
}
.titSec{
    text-align: center;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.contSec{
    text-align: justify;
    font-size: 14px;
}
.img_content{
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.link{
    text-decoration: none;
    color:black;
}

.head_sec{
    background-color: #F8FE7F;
}

#repertorio{
    margin:10px 80px 10px 80px;
    padding:20px 15px 20px 25px;
    background-color: #d67208;
    border-radius: 15px;
}
footer{
    background-color: #34495E;
    padding: 5px 15px 5px 15px;
    color: white;
    position: absolute;
    width: 1487px;
    font-size: 12px;
}
footer section{
    float: right;
}